name: helm-lint
on:
  pull_request:
  push:

jobs:
  helm-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-helm@v4
        with:
          version: v3.14.4
      - run: helm lint infra/k8s/helm/virtuasoc
